# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
*.so
*.dll
*.dylib
.DS_Store

# --- Environments ---
.venv*/
venv/
env/
ENV/

# --- Build / Logs ---
build/
dist/
*.log
*.out
*.bak
*.tmp

# --- OS and IDE ---
.idea/
.vscode/
*.swp
*.swo

# --- Arduino ---
*.hex
*.elf

